body {
  font-family: Lato;
}

body,
label,
span,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.btn {
  font-weight: 700;
  font-family: Arial, Microsoft JhengHei, LiHei Pro, WenQuanYi Zen Hei, DFKai-SB, sans-serif;
}

p,
dl {
  font-size: 1.2rem;
}

hr {
  border-top: solid .25rem;
  border-color: #003366;

  &.light {
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    border-color: #fff;
  }

  &.light {
    &:after {
      position: relative;
      top: -.8em;
      display: inline-block;
      padding: 0 .25em;
      font-family: FontAwesome;
      font-size: 2rem;
      color: #fff;
      background-color: #3399CC;
    }
  }
}

section {
  padding: 6rem 0;

  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
}

.p-indent {
  text-indent: 2em;
}

.p-list {
  font-size: 1.2rem;
  padding-left: 2.45rem;
}

#about {
  p {
    text-indent: 2em;
  }
}

.img-circle {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #eee;
  padding: 1px;
  background: #fff;
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, 0.7));
  margin-bottom: 10px;
}

.img-radius {
  margin: 5px auto;
  border-radius: 10px;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;

  a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, 0.5);
    line-height: 3.1rem;
  }
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: Montserrat;

  .navbar-brand {
    color: #fff;
  }

  .navbar-nav {
    margin-top: 1rem;
    letter-spacing: .0625rem;

    li.nav-item a.nav-link {
      color: #fff;

      &:hover {
        color: #3399CC;
      }

      &:active,
      &:focus {
        color: #fff;
      }

      &.active {
        color: #3399CC;
      }
    }
  }

  .navbar-toggler {
    font-size: 80%;
    padding: .8rem;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top .3s, padding-bottom .3s;
    -moz-transition: padding-top .3s, padding-bottom .3s;
    transition: padding-top .3s, padding-bottom .3s;

    .navbar-brand {
      font-size: 2rem;
      -webkit-transition: font-size .3s;
      -moz-transition: font-size .3s;
      transition: font-size .3s;
    }

    .navbar-nav {
      margin-top: 0;

      >li.nav-item>a.nav-link.active {
        color: #fff;
        background: #3399CC;

        &:active,
        &:focus,
        &:hover {
          color: #fff;
          background: #3399CC;
        }
      }
    }

    &.navbar-shrink {
      padding-top: .5rem;
      padding-bottom: .5rem;

      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

header.masthead {
  padding-top: calc(6rem + 50px);
  padding-bottom: 6rem;

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.3rem;
    font-family: Lato;
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;

    h1 {
      font-size: 4em;
      line-height: 3.75rem;
    }

    h2 {
      font-size: 1.75em;
    }
  }
}

@media (max-width: 480px) {
  header.masthead {
    .page-header {
      margin-top: 20px;
      text-align: center;
    }
  }
}

.portfolio {
  margin-bottom: -15px;

  .portfolio-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px;

    .portfolio-item-caption {
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      transition: all ease .5s;
      opacity: 0;
      background-color: rgba(24, 188, 156, 0.9);

      &:hover {
        opacity: 1;
      }

      .portfolio-item-caption-content {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;

    .portfolio-item {
      margin-bottom: 30px;
    }
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);

  .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;

    i {
      line-height: 38px;
    }
  }

  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);

    h2 {
      font-size: 3rem;
    }
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;

  input,
  textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none !important;
  }

  label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
    opacity: 0;
  }

  &:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef;
  }
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #3399CC;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #003366;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

a {
  color: #3399CC;

  &:active,
  &:focus,
  &:hover {
    color: #99CCCC;
  }
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #3399CC !important;
}

.bg-secondary {
  background-color: #003366 !important;
}

.text-primary {
  color: #3399CC !important;
}

.text-secondary {
  color: #003366 !important;
}

.btn-primary {
  background-color: #3399CC;
  border-color: #3399CC;

  &:active,
  &:focus,
  &:hover {
    background-color: darken(#3399CC, 10%);
    border-color: darken(#3399CC, 12%);
  }
}

.btn-secondary {
  background-color: #003366;
  border-color: #003366;

  &:active,
  &:focus,
  &:hover {
    background-color: #1a252f;
    border-color: #1a252f;
  }
}

.btn-outline-primary{
  color: #3399CC;
  border-color: #3399CC;

  &:active,
  &:focus,
  &:hover {
    color: #FFF;
    background-color: darken(#3399CC, 10%);
    border-color: darken(#3399CC, 12%);
  }
}

li > .btn-link{
  padding: 0;
  border: 0;
}

#experience {
  .row {
    margin-bottom: 5%;

    .from {
      font-size: 1em;
      margin-bottom: 2%;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 70%;
  }

  .modal-body {

    h4,
    p {
      text-indent: 2em;
    }
  }
}